@font-face {
  font-family: "Avenir-Regular";
  src: url("../fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Bold";
  src: url("../fonts/avenir-next-bold.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Italic";
  src: url("../fonts/AvenirNext-Italic.otf") format("opentype"); }

body {
  background-color: red;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }
