//imports
@import "./index.scss";

.about-background {
  // background-image: url('../assets/img/background_mobile_information.png');
  // background-size: cover;
  // background-position: center center;
  height: 100%;
  // transition: opacity 5s ease-in-out;
    @media only screen and (min-width: 576px) {
      background-image: url('../assets/img/background_desktop.jpg');
      background-size: cover;
      background-position: center center;
    }
}
