//imports
@import "./index.scss";

.footer {
  position: absolute;
  bottom: 30px;
  a {
    color: $color-accent;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    font-family: "Avenir-Regular";
    font-size: 19px;
  }

  .app-logo {
    width: 60px;
    height: 18px;
  }
}

// a {
//   color: white;
//   border: 1px solid white;
//   border-radius: 9px;
//   padding: 4px 35px;
// }
