@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype"); }

@media (min-width: 1200px) {
  .container {
    width: 1400px !important; } }

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; }

.reg {
  font-family: "Avenir-Regular";
  font-size: 14px; }

.bold {
  font-family: "Avenir-Medium";
  font-size: 14px; }

.footer {
  position: absolute;
  bottom: 30px; }
  .footer .links {
    display: flex;
    width: 100vw;
    justify-content: space-around; }
  .footer .link_grow {
    flex-grow: 2;
    text-align: right; }
  .footer .link {
    flex-grow: 1; }
  .footer a {
    color: #46A4A2;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    font-family: "Avenir-Regular";
    font-size: 19px; }
  .footer .app-logo {
    width: 80px;
    height: 24px; }
