//imports
@import "./index.scss";

.footer {
  position: absolute;
  bottom: 30px;
  .links {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
  a {
    color: $color-accent;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    font-family: "Avenir-Regular";
    font-size: 12px;
  }
  //skip border for the images
  .footer-link {
    a {
      border: 1px solid $color-accent;
      border-radius: 5px;
      text-align: center;
      padding: 5px 20px;
      &:hover, &:active {
        color: white;
        background-color: $color-accent;
      }
  }
  }

  .app-logo {
    width: 80px;
    height: 26px;
  }
}

.footer-home {
  position: absolute;
  bottom: 70px;
  width: 100%;
  .home-links {
    display: flex;
    flex-direction: column;
    margin-left: 1.8em;
    .swipe-gif {
    position: absolute;
    right: 3em;
    bottom: -2.3em;
      img {
        height: 8em;
      }
    }
    a {
      color: #FEF1F1;
      text-decoration: none;
      cursor: pointer;
      font-family: "Avenir-Medium";
    }
    //skip border for the images
    a:not(:nth-of-type(1)):not(:nth-of-type(2)) {
      font-size: 12px;
      border: 1px solid #FEF1F1;
      border-radius: 5px;
      width: 80px;
      height: 23px;
      text-align: center;
      letter-spacing: 0.57px;
      padding-top: 2px;
    }
    .app-logo {
      width: 140px;
      height: 42px;
      margin-bottom: 25px;
    }
  }
}
