@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype"); }

@media (min-width: 1200px) {
  .container {
    width: 1400px !important; } }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.footer {
  position: absolute;
  bottom: 30px; }
  .footer .links {
    display: flex;
    width: 100vw;
    justify-content: space-evenly; }
  .footer a {
    color: #47A8A5;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    font-family: "Avenir-Regular";
    font-size: 12px; }
  .footer .footer-link a {
    border: 1px solid #47A8A5;
    border-radius: 5px;
    text-align: center;
    padding: 5px 20px; }
    .footer .footer-link a:hover, .footer .footer-link a:active {
      color: white;
      background-color: #47A8A5; }
  .footer .app-logo {
    width: 80px;
    height: 26px; }

.footer-home {
  position: absolute;
  bottom: 70px;
  width: 100%; }
  .footer-home .home-links {
    display: flex;
    flex-direction: column;
    margin-left: 1.8em; }
    .footer-home .home-links .swipe-gif {
      position: absolute;
      right: 3em;
      bottom: -2.3em; }
      .footer-home .home-links .swipe-gif img {
        height: 8em; }
    .footer-home .home-links a {
      color: #FEF1F1;
      text-decoration: none;
      cursor: pointer;
      font-family: "Avenir-Medium"; }
    .footer-home .home-links a:not(:nth-of-type(1)):not(:nth-of-type(2)) {
      font-size: 12px;
      border: 1px solid #FEF1F1;
      border-radius: 5px;
      width: 80px;
      height: 23px;
      text-align: center;
      letter-spacing: 0.57px;
      padding-top: 2px; }
    .footer-home .home-links .app-logo {
      width: 140px;
      height: 42px;
      margin-bottom: 25px; }
