//import stylesheet
@import "./index.scss";

.hiring {
  text-align: right;

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $primary-color;
    font-family: "Avenir-Regular";
    font-size: 21px;
  }
}
