//import stylesheet
@import "./index.scss";

.body-hiring {
  background-image: url('../assets/img/background_mobile_bottom.jpg');
  background-size: cover;
  background-position: center center;
    @media only screen and (min-width: 576px) {
      background-image: url('../assets/img/background_desktop.jpg');
      background-size: cover;
      background-position: center center;
    }
}


.container {
  justify-content: flex-end;
}

.hiring {
  margin-top: 2em;
  margin-right: 1.2em;
  text-align: right;
  width: 55vw;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $primary-color;
    font-family: "Avenir-Regular";
    font-size: 16px;
  }
  .margin_top {
    margin-top: 4em;
  }
}
