@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype"); }

@media (min-width: 1200px) {
  .container {
    width: 1400px !important; } }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.hiring-background {
  background-image: url("../assets/img/background_mobile_information.png");
  background-size: cover;
  background-position: center center; }
  @media only screen and (min-width: 576px) {
    .hiring-background {
      background-image: url("../assets/img/background_desktop.jpg");
      background-size: cover;
      background-position: center center; } }

.container {
  justify-content: flex-end; }
  .container .flex-row {
    text-align: -webkit-right; }

.reg {
  font-family: "Avenir-Regular";
  font-size: 14px;
  letter-spacing: 0.76px;
  line-height: 22px; }
  .reg span {
    color: #ED6C44; }

.bold {
  font-family: "Avenir-Medium";
  font-size: 16px;
  letter-spacing: 0.76px; }

.headline {
  font-size: 1.2em;
  color: #47A8A5;
  font-family: "Avenir-Medium";
  letter-spacing: 0.95px; }

.hiring {
  margin-top: 1.1em;
  margin-right: 1.2em;
  text-align: right; }
  .hiring .hiring-text {
    width: 50vw; }
  .hiring .reg {
    width: 70vw;
    margin-top: -0.7em; }
  .hiring .bold {
    margin-top: -1em; }
  .hiring li {
    list-style: none;
    margin-bottom: 0.5em; }
  .hiring a {
    text-decoration: none;
    color: #ED6C44;
    font-family: "Avenir-Regular";
    font-size: 16px;
    letter-spacing: 0.76px; }
  .hiring .margin-top {
    margin-top: 4em; }

.hiring-details {
  margin-top: 1.1em;
  margin-right: 1.2em;
  text-align: right; }
  .hiring-details .bold-details {
    font-family: "Avenir-Medium";
    font-size: 14px;
    letter-spacing: 0.76px;
    line-height: 22px; }
  .hiring-details .reg {
    margin-top: -1em;
    width: 70vw;
    letter-spacing: 0.76px;
    line-height: 22px; }
