@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype"); }

@media (min-width: 1200px) {
  .container {
    width: 1400px !important; } }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.reg {
  font-family: "Avenir-Regular";
  font-size: 14px; }

.bold {
  font-family: "Avenir-Medium";
  font-size: 14px; }

.hiring-background {
  background-image: url("../assets/img/background_mobile_information.png");
  background-size: cover;
  background-position: center center; }
  @media only screen and (min-width: 576px) {
    .hiring-background {
      background-image: url("../assets/img/background_desktop.jpg");
      background-size: cover;
      background-position: center center; } }

.container {
  justify-content: flex-end; }

.hiring {
  margin-top: 2em;
  margin-right: 1.2em;
  text-align: right;
  width: 55vw; }
  .hiring li {
    list-style: none; }
  .hiring a {
    text-decoration: none;
    color: #ED6C44;
    font-family: "Avenir-Regular";
    font-size: 16px; }
  .hiring .margin_top {
    margin-top: 4em; }

.hiring_details {
  margin-top: 1.1em;
  margin-right: 1.2em;
  text-align: right;
  width: 70vw; }
  .hiring_details .headline {
    font-size: 19px;
    color: #46A4A2;
    font-family: "Avenir-Medium"; }
  .hiring_details .title {
    font-size: 14px;
    font-family: "Avenir-Medium";
    font-weight: bold; }
  .hiring_details .details_text {
    margin-top: -1em;
    font-size: 14px;
    font-family: "Avenir-Regular"; }
  .hiring_details li {
    list-style: none; }
  .hiring_details a {
    text-decoration: none;
    color: #ED6C44;
    font-family: "Avenir-Regular";
    font-size: 16px; }
  .hiring_details .margin_top {
    margin-top: 4em; }
