//Fonts
@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype");
}

//Colors
//Orange
$primary-color: #ED6C44;
//bluegreen
$color-accent: #47A8A5;
//bluegreen dark
$color-accentDark: #419B98;
//yellow
$color-trot: #FDAE3A;
//darkpink
$color-canter: #DF4686;
//bluepurple
$color-tolt: #6A48C4;

body {
  background-color: #ED6C44;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
