//Fonts
@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype");
}

@media (min-width: 1200px) {
  .container {
      width: 1400px !important;
  }
}

//Colors
//Orange
$primary-color: #ED6C44;
//bluegreen
$color-accent: #47A8A5;
//redgrey
$color-accent1: #FFF3F3;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  // overflow: auto;
}


// .switch-wrapper {
//   position: relative;
// }
//
// .switch-wrapper > div {
//   position: absolute;
// }
