//Fonts
@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype");
}

@media (min-width: 1200px) {
  .container {
      width: 1400px !important;
  }
}

//Colors
//Orange
$primary-color: #ED6C44;
//bluegreen
$color-accent: #46A4A2;
//bluegreen dark
$color-accentDark: #419B98;
//yellow
$color-trot: #FDAE3A;
//darkpink
$color-canter: #DF4686;
//bluepurple
$color-tolt: #6A48C4;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.reg {
  font-family: "Avenir-Regular";
  font-size: 14px;
}

.bold {
  font-family: "Avenir-Medium";
  font-size: 14px;
}
