@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype"); }

@media (min-width: 1200px) {
  .container {
    width: 1400px !important; } }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.slider img.phoneAnimation {
  width: 72%; }

.slider h5, .slider p {
  font-family: "Avenir-Regular";
  margin: 0 auto;
  width: 83.5%; }

.slider h5 {
  color: #46A4A2;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1.14px;
  line-height: 32px; }

.slider p {
  color: #000000;
  font-size: 1rem;
  letter-spacing: 0.76px; }

.slider .slider-texts {
  margin-bottom: 1em; }

.slider .dots {
  margin: 0 auto; }

.slider .dot {
  background-color: #46A4A2;
  border-radius: 50%;
  height: 15px;
  margin: 10px;
  width: 15px; }

@media only screen and (min-width: 576px) {
  .slider {
    margin-left: -3em;
    margin-top: 0; }
    .slider h5 {
      color: #46A4A2;
      font-family: "Avenir-Regular";
      font-size: 1.5rem;
      font-weight: 100;
      letter-spacing: 0.05rem;
      line-height: 1.6rem;
      margin-left: 2.5em;
      margin-top: -2.2em; }
    .slider p {
      color: #000000;
      font-family: "Avenir-Regular";
      font-size: 0.8rem;
      letter-spacing: 0.76px;
      margin-left: 8em;
      text-align: right;
      width: 15.65rem; }
    .slider img.phoneAnimation {
      width: 22em; } }
