@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype"); }

@media (min-width: 1200px) {
  .container {
    width: 1400px !important; } }

html, body {
  margin: 0;
  padding: 0;
  height: 100vh; }

.reg {
  font-family: "Avenir-Regular";
  font-size: 18px; }

.bold {
  font-family: "Avenir-Medium";
  font-size: 18px; }

.slogan h1, .slogan h2 {
  line-height: 1.5rem; }

.slogan h1 {
  color: #FFF3F3;
  font-family: "Avenir-Bold";
  font-size: 2.5rem; }

.slogan strong {
  font-weight: bold; }

.slogan h2 {
  color: #000000;
  font-family: "Avenir-UltraLight";
  font-size: 2rem;
  font-weight: 100; }
