@font-face {
  font-family: "Avenir-Regular";
  src: url("../assets/fonts/AvenirNext-Regular.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Bold";
  src: url("../assets/fonts/avenir-next-bold.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Medium";
  src: url("../assets/fonts/AvenirNext-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-Italic";
  src: url("../assets/fonts/AvenirNext-Italic.otf") format("opentype"); }

@font-face {
  font-family: "Avenir-UltraLight";
  src: url("../assets/fonts/AvenirNextLTPro-UltLt.otf") format("opentype"); }

@media (min-width: 1200px) {
  .container {
    width: 1400px !important; } }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.slogan {
  width: 16rem; }
  .slogan h1, .slogan h2 {
    line-height: 1.5rem; }
  .slogan h1 {
    color: #FEF1F1;
    font-family: "Avenir-Bold";
    font-size: 2.5rem;
    letter-spacing: 2.33px; }
  .slogan strong {
    font-weight: bold; }
  .slogan h2 {
    color: #FEF1F1;
    font-family: "Avenir-UltraLight";
    font-size: 1.9rem;
    font-weight: 100;
    letter-spacing: 1.71px; }
  @media only screen and (max-width: 576px) {
    .slogan {
      position: absolute; } }
