//imports
@import "./index.scss";

body {
  background-image: url('../assets/img/background_desktop.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
@media only screen and (max-width: 768px) {
  body {
    background-image: url('../assets/img/background_mobile.jpg'); } }