//imports
@import "./index.scss";

.start-background {
  background-image: url('../assets/img/background_mobile_home.png');
  background-size: cover;
  background-position: center center;
  // height: 100.08%;
  // transition: opacity 5s ease-in-out;

  // Temporary fix for chrome devtools
  height: 200%;
  overflow: -webkit-paged-y;
  // end of temporary fix for chrome devtools

    @media only screen and (min-width: 576px) {
      background-image: url('../assets/img/background_desktop.jpg');
      background-size: cover;
      background-position: center center;
    }
}
