//imports
@import "./index.scss";

body {
  background-image: url('../assets/img/background_mobile_top.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
@media only screen and (min-width: 576px) {
  body {
    background-image: url('../assets/img/background_desktop.jpg'); } }